#player-embed {
    width: 100%;
    height: 0px;
    position: relative;
    padding-bottom: 56.25%;
    margin-bottom: 10px;
}

#basic-player {
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    position: absolute;
}

.state {
    margin: 10px;
}
video {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

table.ww4-table {
    margin:auto;
    margin-top: 10px;
    font-family: futura-tee, verdana, arial;
    border-collapse: collapse;
    color: #989898;
    padding: 0px;
}
table.ww4-table tr {
    border: 1px solid #f5f5f5;
}
table.ww4-table th {
    padding: 10px;
    font-weight: normal;
    text-align: left;
}
table.ww4-table td {
    padding: 10px;
    text-align: left;
}
.icon {
    width: 30px;
    height: 30px;
    stroke: #989898;
    fill: #989898;

}
.icon svg path {
    stroke-width: 1.3;
    vector-effect: non-scaling-stroke;
}
.ww4-select {
    border-radius: 20px;
    height: 40px;
    display: inline-block;
    border: 1px solid #7bafa8;
    background-color: white;
    cursor: pointer;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
    min-width: 100px;
    padding-left: 25px;
    color: #989898;
    min-width: 140px;
}

.ww4-static-button {
    border-radius: 20px;
    height: 40px;
    display: inline-block;
    border: 1px solid #7bafa8;
    background-color: white;
    cursor: pointer;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    position: relative;
    vertical-align: middle;
    overflow: hidden;
}
.ww4-static-button.ww4-active {
    background-color: #7bafa8;
    border-color: #7bafa8;
}
.ww4-static-button.ww4-active p {
    color: #f5f5f5;
}
.ww4-static-button .static-button-icon-container {
    width: 38px;
    height: 100%;
    position: absolute;
}
.ww4-static-button .static-button-icon {
    width: 22px;
    height: 22px;
    margin: 8px auto auto;
}
.ww4-static-button .static-button-icon svg {
    width: 100%;
    height: 100%;

}
.ww4-static-button .static-button-icon svg path {
    stroke-width: 1.2;
    vector-effect: non-scaling-stroke;
}
.ww4-active .static-button-icon svg {
    stroke: #f5f5f5 !important;
    fill: #f5f5f5 !important;
}
.ww4-static-button .static-button-icon svg {
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    stroke: #989898;
    fill: #989898;
}
.ww4-static-button p {
    font-size: 14px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    margin: 0 20px 0 20px;
    color: #989898;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
    text-align: center;
    margin-left: 40px;
}
.ww4-static-button:hover:not(.ww4-disabled):not(.ww4-confirm-mode):not(.ww4-error):not(.ww4-active) {
    background-color: #7bafa8;
    border-color: #7bafa8;
    -webkit-transition: none;
    transition: none;
}
.ww4-static-button:hover:not(.ww4-disabled):not(.ww4-confirm-mode):not(.ww4-error):not(.ww4-active) p {
    color: #f5f5f5;
    -webkit-transition: none;
    transition: none;
}
.ww4-static-button:hover:not(.ww4-disabled):not(.ww4-confirm-mode):not(.ww4-error):not(.ww4-active) .static-button-icon svg {
    stroke: #f5f5f5;
    fill: #f5f5f5;
    -webkit-transition: none;
    transition: none;
}