<html>
<head>
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="scripts/buffering-player.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
    <link rel="stylesheet" type="text/css" href="style/basic.css">
</head>
<body>
    <div id="player-embed">
        <div id="basic-player"></div>
    </div>
    <table class="ww4-table">
        <tr>
            <td>
                Video State
            </td>
            <td id="state-display">
                Waiting for Embed
            </td>
        </tr>
</body>
</html>